form{
	//width: 300px;
	//margin-right: auto;
	//margin-left: auto;
}
form input{
	//margin-bottom: 10px;
}
label.error{
	color:#c0392b;
}
.bs-noti-signin-modal-lg, .bs-error-register-modal-lg {
    color: #000;
    font-size: 18px;
}
img.loading{
    position: absolute;
    left: 46%;
    z-index: 1;
    display: none;
}
img.edit-loading{
    position: absolute;
    left: -60%;
    right: 20%;
    z-index: 1;
    display: none;
}
label#confirm {
    color: #1C00EB;
}
label#confirm_email {
    color: #1C00EB;
}
.ko-grid-pageLinks {
    display: none;
}
span.product_page.glyphicon.glyphicon-arrow-left {
    font-size: 30px;
    cursor: pointer;
}
span.product_page.glyphicon.glyphicon-arrow-right {
    font-size: 30px;
    cursor: pointer;
    float: right;
}
button.product_page.add {
    float: right;
    margin-bottom: 15px;
    display: inline-block;
}
#product_list table.ko-grid.table {
    border: 1px solid #DDD;
}
#product_list table.ko-grid.table th{
    border-width: 1px;
    cursor: pointer;
}
#product_list table.ko-grid.table th:hover {
    background-color: #F1F1F1;
}
#product_list table.ko-grid.table td {
    cursor: pointer;
}
.no_product {
    display: none;
}
.no_product a.link_add {
    width: 100%;
    display: inline-block;
}
.no_supply {
    display: none;
}
.no_supply a.link_add {
    width: 100%;
    display: inline-block;
}
label.colorPicker
{
	border:1px solid #2d6ca2;
	width: 80px;
	height: 30px;
	position: absolute;
	margin-left: 10px;
}

.clearMargin 
{
	margin-left: 0px;
	margin-right: 0px;
}

.clearPadding
{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.asset-drop {
	background-color: #dff0d8;
	text-align: center;
	border: 2px dashed #d58512;
	padding-bottom: 10px;
}

.asset-drop:hover,.dragging {
	background-color: #d9edf7;
	border: 2px dashed #428bca;
}

#product-dropzone > .row,#variant-dropzone > .row
{
	margin: 10px 0px 0px;
}

#product-dropzone hr,#variant-dropzone hr
{
	margin: 0px;
	border:1px dashed #d58512;
	height: 0px;
}

#product-dropzone:hover hr,#variant-dropzone:hover hr
{
	border: 1px dashed #428bca;
}

#lstProductImage >div,#lstVariantImage  >div
{
	margin: 20px 0px 0px;
	height: 100px;
}

#lstProductImage .row > div,#lstVariantImage .row >div
{
	line-height: 50%;
}

#lstProductImage .row,#lstVariantImage .row
{
	margin: 20px 0px;
}
table.variant-table>thead>tr>th{
    border-bottom: 1px solid #DDD;
}


.carousel.carousel-fade .item {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
}

.carousel.carousel-fade .active.item {
    opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
    left: 0;
    z-index: 1;
}

.carousel.carousel-fade .carousel-control {
    z-index: 3;
}

.carousel{
height: 250px;
background: rgb(227, 232, 231);
}
.carousel-inner{
    max-height: 250px;
}
.carousel-caption{
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0px;
    background: rgba(0,0,0,0.70);
}
.carousel-detail{
    display: none;
}
.list{
    margin-bottom:30px;
}
.pColor{
    font-size: smaller;
    margin: 0 0 10px;
    color: #000;
}
.full-slider-inner{
    max-height: inherit;
}
.full-slider{
    height: 100%
}
.image-align{
    margin-left: auto;
    margin-right: auto;
}

.btn-actioned{
    background-color: #B0BDBE;
    border-color: #968C8C;
}